.circle{
    height: 242px;
    width: 246px;
    background-color: rgb(0, 150,94);
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    margin-left: -22%;
    margin-top: 1.5%;

}


.lottoszoveg{
    text-align: center;
    font-size: 60px;
    position: fixed;
    top: 155px;
    text-shadow:3px 2px #4e4e4e;
    margin-top: -3%;
    margin-left: 5.5%;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
  }

  svg{
    font-size: 25px;font-family:Arial;
  }