/* The side navigation menu */
.menu {
    margin: 0;
    padding: 0;
    width: 24.70703%;
    background-color: #424242;
    position: fixed;
    height: 100%;
    overflow: auto;
    margin-top: -0.106cm;
    margin-left: -0.199cm;
  }
  
  /* Sidebar links */
  .menu a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .menu a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
  .menu a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 100px;
  }
  







hr{
    font-size: 0.1cm;
}

.kep{
    margin-top: -10%;
}

body{
    background-attachment: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

.tartalom{
    font-size: 26px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 0.7cm;
    margin-left: 12cm;
    position: absolute;
    line-height: 1.2cm;
}

.golyok{
    margin-top: -2.2cm;
    margin-left: 11.5cm;
    height: 1cm;
}

.tartalom2{
    font-size: 26px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 3cm;
    margin-left: 12cm;
    position: absolute;
    line-height: 1.2cm;
}

.golyok2{
    margin-top: 5.5cm;
    margin-left: 11.5cm;
    height: 1cm;
}


