/* The side navigation menu */





hr{
  opacity: 0%;
}


.kep{
    margin-top: -10%;
    overflow: hidden;
}

body{
    background-attachment: inherit;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden; /*Ezt át lehet állítani a másik css fileokban, ha szükség van rá!!*/
}


.leghasonlobb_tartalom{
  font-size: 26px;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 12cm;
  position: relative;
  line-height: 0.8cm;
}


#evszam{
  margin-top: 7%;
}


.tartalom{
  font-size: 26px;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 12cm;
  position: relative;
  line-height: 1.2cm;
}

.legsz_tartalom{
  font-size: 26px;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 12cm;
  position: relative;
  line-height: 320%;
}

.legsz_tartalom2{
  font-size: 26px;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 12cm;
  position: relative;
  line-height: 320%;
  margin-top: -1.5%;
}

.lista{
  font-size: 150%;
  padding-top: -8%;
  line-height: 350%;
  padding-left: 33%;
}

.szoveg{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
  margin-top: -36%;
  margin-left: 12cm;
}

#lejjebb{
  visibility: hidden;
}

.golyok{
    margin-top: -10.5%;
    margin-left: 8.5cm;
}

.also_golyok{
  margin-top: -19%;
  margin-left: 8.5cm;
}

.legsz_golyok{
  margin-top: -37.5%;
  margin-left: 18cm;
}

.legh_golyok{
  margin-top: -10%;
  margin-left: 15.5cm;
}

.legh_also_golyok_igazitas{
  margin-top: -19%;
  margin-left: 8.55cm;
}

.legsz_golyok2{
  margin-top: -19.5%;
  margin-left: 18cm;
}

.legsz_golyok3{
  margin-top: -19.5%;
  margin-left: 18cm;
}

.darabszam{
  font-size: 250%;
  line-height: 2cm;
  margin-top: -37.5%;
  margin-left: 18cm;
}

.golyoElhelyezkedes{
  margin-left: -7cm;

}


.legh_golyoElhelyezkedes{
  margin-left: -7cm;

}


.also_szoveg{
  margin-top: -6%;
  margin-left: 34%;
  margin-bottom: 11%;
}


.legh_also_szoveg{
  margin-top: -9.5%;
  margin-left: 34%;
  margin-bottom: 11%;
}

.leghoszabb_tartalom{
  font-size: 26px;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 12cm;
  position: relative;
  line-height: 0.8cm;
}

.leghoszabb_also_szoveg{
  margin-top: -5%;
  margin-left: 34%;
  margin-bottom: 11%;
}

.leghoszabb_felso_szoveg{
  margin-top: -25%;
  margin-left: 34%;
  margin-bottom: 17%;
}

.leghoszabb_golyok{
  margin-top: -20.5%;
  margin-left: 8.5cm;
}


.tartalom2{
    font-size: 26px;
    margin-top: -0.5%;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 12cm;
    position: absolute;
    line-height: 1.2cm;
}

.golyok2{
    margin-left: 11.5cm;
    height: 1cm;
}


.jobb_menu{
  position: fixed;
  padding-left: -5cm;
  width:50%;
  float:left;
  height:100px;
  background:blue;
}